* {
  padding: 0%;
  margin: 0%;
  box-sizing: border-box;
}
.navbar-brand {
  font-size: 2rem;
  color: black;
  font-family: "Lobster", cursive;
  margin-right: 50px;
  opacity: 0.8;
}

.navbar-brand:hover {
  color: black;
}

.nav-link {
  margin-right: 10px;
  margin-right: 10px;
  color: black;
  font-family: "Rubik", sans-serif;
  text-transform: uppercase;
  margin-right: 25px;
  margin-left: 60px;
}

.nav-link:hover {
  color: black;
}

.search {
  height: 40px;
  width: 80%;
  border-radius: 60px;
  outline: none;
  margin-right: -35px;
  font-family: "Rubik", sans-serif;
  border: 2px solid rgb(248, 26, 92);
}

.btn0 {
  height: 40px;
  width: 40%;
  outline: none;
  border: none;
  background: rgb(248, 26, 92);
  color: white;
  font-weight: 700;
  border-radius: 40px;
}

.main {
  background: url(./img/sneaker.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  min-height: 700px;
  opacity: 0.8;
}

.main h1 {
  font-size: 4em;
  font-weight: 700;
  font-family: "Oswald", sans-serif;
  color: black;
}

.btn1 {
  height: 45px;
  width: 35%;
  border: none;
  outline: none;
  background-color: rgb(248, 26, 92);
  color: white;
  font-weight: 700;
  border-radius: 60px;
}
